#navbar-custom .navbar-brand {
  color: rgba(1,137,140);
  font-weight: normal;
}

#navbar-custom .navbar-brand:hover {
  color: rgba(99,193,197);
}

#navbar-custom .nav-link {
  color: rgba(1,137,140);
  font-weight: normal;
}

#navbar-custom .nav-link:hover {
  color: rgba(99,193,197);
}

#navbar-custom .nav-link.active {
  color: rgba(1,137,140);
  font-weight: bold;
}

.main-container {
  max-width: 950px;
}

.home-container {
  padding-top: 34px;
}

.headline {
  font-size: 28px;
  font-weight: bold;
  color: rgba(1,137,140);
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

.paragraph {
  font-size: 16px;
}

p {
  font-size: 14px;
}

a {
  color: rgba(33,43,83);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgba(99,193,197);
}

body {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: rgba(33,43,83);
}

.profile-img {
  max-width: 132px;
}

.carousel-cards {
  max-width: 650px;
}

.card-img {
  max-width: 200px;
}

.table {
  color: rgba(33,43,83);
}

.custom-table td {
  padding: 0;
  font-size: 14px;
}

.carousel-item.active {
  display: block;
}

#carousel-custom [data-bs-target] {
  background-color: rgba(33,43,83);
}

.footer {
  color: white;
  background-color: rgba(33,43,83,.4);
}

.p-footer {
  color: rgba(1,137,140);
}

.a-footer {
  font-weight: normal;
  color: rgba(1,137,140);
}

.a-footer:hover {
  color: rgba(99,193,197);
}