#navbar-custom .navbar-brand {
  color: rgba(0,29,86);
  font-weight: normal;
}

#navbar-custom .navbar-brand:hover {
  color: rgba(0,35,105,.8);
}

#navbar-custom .nav-link {
  color: rgba(0,35,105);
  font-weight: normal;
}

#navbar-custom .nav-link:hover {
  color: rgba(0,35,105,.8);
}

#navbar-custom .nav-link.active {
  color: rgba(0,35,105);
}

.home-bg, .bio-bg, .resume-bg {
  height: 350px;
  position: relative;
}

.home-bg::after {
  content: "";
  background-image: url("/images/home.jpg");
  background-size: 100% 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.bio-bg::after {
  content: "";
  background-image: url("/images/bio.jpg");
  background-size: 100% 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.resume-bg::after {
  content: "";
  background-image: url("/images/resume.jpg");
  background-size: 100% 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

@media (max-width: 576px) {
  .home-bg, .bio-bg, .resume-bg {
    height: 250px;
    position: relative;
  }
  
  .home-bg::after {
    content: "";
    background-image: url("/images/home-mobile.jpg");
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .bio-bg::after {
    content: "";
    background-image: url("/images/bio-mobile.jpg");
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .resume-bg::after {
    content: "";
    background-image: url("/images/resume-mobile.jpg");
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.main-container {
  padding-top: 34px;
  max-width: 950px;
}

.headline {
  font-size: 28px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.home-text {
  max-width: 600px;
}

a {
  color: rgba(0,35,105);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgba(0,35,105,.8);
}

body {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: rgba(0,35,105);
}

.profile-pic {
  max-width: 190px;
}

@media (min-width: 576px) {
  .card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: contain;
  }
}

@media (min-height: 1000px) {
  .card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: contain;
  }
}

.table {
  color: rgba(0,35,105);
}

.custom-table td {
  padding: 0;
  font-size: 14px;
}

.carousel-item.active {
  display: block;
}

#carousel-custom [data-bs-target] {
  background-color: rgba(0,35,105);
}

.footer {
  color: white;
  background-color: rgba(0,35,105,.4);
}

.a-footer {
  color: white;
  font-weight: normal;
}